#SignUpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84vh;
}

#SignUpContainer form{
  width: 400px;
  background: #009688;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

#SignUpContainer form img{
    width: 100px;
    margin: 10px 0 40px;
}

#SignUpContainer form p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#SignUpContainer form input {
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}

#SignUpContainer form input::placeholder {
    color: #999;
}

#SignUpContainer form button {
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: #dbdbdb;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

#SignUpContainer form hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

#SignUpContainer form a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

#SignUpContainer form a:hover{
    text-decoration: none;
}

#SignUpContainer #SignUpLogin {
    
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: #dbdbdb;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: normal;
}
