body { 
    position: relative;
    
}
.root {
    position: relative;
    margin-top: 5%;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.Container {
    
    background-color: darkgrey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50px;
    border: 2px darkslategray;
    border-style: solid;

    margin: 2px;
}
#UserName, #Role, #Email, #telefone, #BirthDate{
    min-width: 138px;
    width: 18%;
    min-height: 60px;
}
#Email{
    min-width: 40%;
    min-height: 60px;
}
#PageName, #Institution, #medicalCares{
    min-width: 552px;
    width: 80%;
    min-height: 60px;
}
#PerfilImgContainer{
    min-width: 138px;
    width: 18%;
    min-height: 180px;
    height: 100%;
}
#UserDescription {
    min-width: 80%;
    min-height: 100%;
}
#ImgPerfil {
    min-width: 100%;
    min-height: 100%;
    max-height: 180px;
    border-radius: 50px;
}
